.colored-section {
  font-family: "Montserrat, sans-serif";
  color: white;
  background-color: black;
  padding: 3% 5% 7%;
  text-align: center;
}

.plain-section {
  font-family: "Ubuntu, sans-serif";
  color: black;
  background-color: white;
  padding: 3% 5% 7%;
}

/* title section */
.title-image {
  width: 100%;
  position: static;
}

.title-image-text {
  padding-top: 60px;
  text-align: center;
}

/* about & roadmap section */
.about, .roadmap {
  text-align: center;
  font-size: 5rem;
}

/* about section */
.about-image {
  width: 100%;
}

/* tokenomics section */
.tokenomics {
  text-align: center;
}

.pricing-column {
  padding: 10%;
}

/* roadmap section */
.roadmap-carousel {
  text-align: center;
  height: 70vh;
}
